### Day 4 -- Python Programming

In [1]:
notes = 5
i = 1

while i < notes:
    print(i)
    i += 1
else:
    print('No Rs.10 available')
    
# NOTE : while-else and for-else statement avalilable in python language

1
2
3
4
No Rs.10 available

Types of data structure in python :
> list
> Dictionary
> tuples
> sets

In [2]:
# extracting data using index

var = 'Nick'

In [3]:
var[3] # accessing value from index location 3

'k'

In [4]:
var = 'This is test'

var[8:] # using range to extract values

'test'

In [5]:
# using step size we can take a step of that spectific number while extracting

print(var[3:10:1])
print(var[3:10:2])

s is te
si e

In [6]:
# extracting in reverse order

var[12:0:-1]

'tset si sih'

In [7]:
# extracting in reverse order with alternate values

var[12:0:-2]

'te ish'

In [8]:
# reversing complete strinh

var[::-1]

'tset si sihT'

In [9]:
# iterate through string one by one using for loop.

for i in var:
    print(i)

T
h
i
s

i
s

t
e
s
t

In [10]:
# find 'N' in msg

for i in var:
    if i == 't':
        print('t present')
    print(i)

T
h
i
s

i
s

t present
t
e
s
t present
t

In [11]:
# continue statement

for i in var:
    if i == 's':
        continue
    print(i)

T
h
i

i

t
e
t

In [12]:
s = 'testing'
len(s)

7

In [13]:
n = 7

for i in range(0,n):
    for j in range(0, i + 1):
        print("* ",end = "")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [15]:
n = 6

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end=' ') 
    
    for j in range(2*i-1):
        print('*',end=' ') 
    print()

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [2]:
# range function

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
# starting and end

for i in range(2,4):
    print(i)

2
3

In [4]:
# start,end and step size


for i in range(8,4,-1):
    print(i)

8
7
6
5

In [12]:
n = 9
i = 0

while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

list() : list is a collection of heterogeneous data type

In [22]:
# list example :

l = ['Nick','abc@gmail.com',1234567890]
print(l)
print(type(l))

['Nick', 'abc@gmail.com', 1234567890]
<class 'list'>

In [27]:
# creating list in other way

l2 = list('nick')

In [23]:
# creating blank list

l1 = []
type(l1)

list

In [21]:
# accessing list elements

l[0]

'Nick'

In [28]:
l = ['nick',3456,'abcd',True,[3,4,'xyz'],6.87]

In [30]:
l[4][2]

'xyz'

In [33]:
l[4:1:-1]

[[3, 4, 'xyz'], True, 'abcd']

In [37]:
l = list(['test',3456,'abcd',True,[3,4,'xyz'],6.87])
l

['test', 3456, 'abcd', True, [3, 4, 'xyz'], 6.87]