### Day 5 -- Python Programming

#### String manipulations

In [43]:
# string is immutable object whih means we cannot change the specific value inside the string once created

str = "This is test"

In [44]:
str[0] = 'Change'

TypeError: 'str' object does not support item assignment

In [45]:
# reversed the string

str[::-1]

'tset si sihT'

In [49]:
# count something from string it will return number of times the character present inside string

str.count("is")

2

In [5]:
# however we can change the value inside the list once created which means list is mutable data type

l1 = ['This','is','test']

In [7]:
l1[0]

'This'

In [8]:
l1[0] = 'change'

In [9]:
l1

['change', 'is', 'test']

In [15]:
# to find anything inside string we use find function
# let's try to find something from string using find() function

s1 = "This is my name and my class"

In [17]:
# it will give the index value of first occurance

s1.find('my')

8

In [10]:
# split the string using split function of string using any delimeters

s = "This is for testing purpose"

In [11]:
s.split()

['This', 'is', 'for', 'testing', 'purpose']

In [31]:
# let's try to split using some other delimiters apart from white space

s = "This is comma, seperated string  "

In [21]:
s.split(',')

['This is comma', ' seperated string']

In [22]:
# let's use upper and lower function to convert string to upper and lower case

s.upper()

'THIS IS COMMA, SEPERATED STRING'

In [23]:
s.lower()

'this is comma, seperated string'

In [24]:
# Let's explore swapcase which means if something is present in upper case will be converted to lower and vice versa

s.swapcase()

'tHIS IS COMMA, SEPERATED STRING'

In [55]:
# reverse the string using reversed() function

list(reversed(s))

[' ',
 ' ',
 'g',
 'n',
 'i',
 'r',
 't',
 's',
 ' ',
 'd',
 'e',
 't',
 'a',
 'r',
 'e',
 'p',
 'e',
 's',
 ' ',
 ',',
 'a',
 'm',
 'm',
 'o',
 'c',
 ' ',
 's',
 'i',
 ' ',
 's',
 'i',
 'h',
 'T']

In [25]:
# join() function tries to join the charcter/value to the string provided inside the function

" ".join(s)

'T h i s   i s   c o m m a ,   s e p e r a t e d   s t r i n g'

In [33]:
str1 = "  this  i s  "

In [34]:
# strip() function spaces from string but it'll try to remove from start and end not in from between

str1.strip()

'this  i s'

In [35]:
# to remove from left and right we use

print(str1.lstrip())
print(str1.rstrip())

this  i s
  this  i s

In [36]:
# to replace somtheing from string we use replace() function of string

str2 = "Greetings"

In [38]:
str2.replace("Gr","Change") # But this change won't available inside str2 because of immutablity of string

'Changeeetings'

In [56]:
# center() will try to place the value inside the string

str2 = "This"

In [60]:
str2.center(10,'@')

'@@@This@@@'

In [61]:
# expandtabs used to expand string based on \t provided inside string

str3 = "This\tTab"

In [62]:
str3.expandtabs()

'This    Tab'

In [63]:
# Practice 

a = "we all are a part of Full Stack "

In [64]:
# 1st question

a.lower()

'we all are a part of full stack '

In [65]:
# 2nd Question

a.count('a')

5

In [80]:
# 3rd Question

for i in range(len(a)):
    if a[i] == 'a':
        print(i)

3
7
11
14
28

In [81]:
# 4th Question

a = a.replace('a','iNeurons')

In [84]:
# 5th Question

a.split()

['we',
 'iNeuronsll',
 'iNeuronsre',
 'iNeurons',
 'piNeuronsrt',
 'of',
 'Full',
 'StiNeuronsck']

In [85]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [86]:
# isupper used

s = "NICK"

In [87]:
s.isupper()

True

In [88]:
s1 = "ni k"

In [89]:
s1.isspace()

False

In [90]:
# iteration

s = "This is test"

for i in range(len(s)):
    print(s[i])

T
h
i
s

i
s

t
e
s
t

In [91]:
s = "nick"
ch = len(s)-1

while ch >=0:
    print(s[ch])
    ch = ch -1

k
c
i
n

In [93]:
s = 'nick'
vowel = "AaEeIiOoUu"

for i in s:
    if i in vowel:
        print("{} is a vowel".format(i))
    else:
        print("{} is not vowel".format(i))

n is not vowel
i is a vowel
c is not vowel
k is not vowel

In [94]:
"{} name {} nick".format("My","is")

'My name is nick'

In [98]:
# Palindrom check

inp1 = input("Enter a palindrome : ")
inp2 = inp1[::-1]

if inp1 == inp2:
    print('same')
else:
    print('not same')

Enter a palindrome :  121

same

#### List manipulations

In [99]:
l = ['test',1,2,3,True]

In [100]:
# extract in range

l[0:3]

['test', 1, 2]

In [105]:
s = "test is test"
l + list(s)

['test',
 1,
 2,
 3,
 True,
 't',
 'e',
 's',
 't',
 ' ',
 'i',
 's',
 ' ',
 't',
 'e',
 's',
 't']

In [106]:
# repeting the list

l * 3

['test', 1, 2, 3, True, 'test', 1, 2, 3, True, 'test', 1, 2, 3, True]

In [107]:
# get total length of list

len(l)

5

In [108]:
# check something is present inside list or not

"is" in l

False