### Day 6 -- Python Programming -- 14th Mar 2021

#### List manipulations

In [1]:
# creation of list 

l1 = [123,'test']

In [2]:
# retreiving the list

l1[0]

123

In [3]:
# retrieving the list out of list

l = [123,'test',[1,2,True]]

for i in l:
    if type(i) == list:
        print('list',i)
    else:
        print('not list',i)

not list 123
not list test
list [1, 2, True]

In [4]:
# append list using + operator

l1 + l

[123, 'test', 123, 'test', [1, 2, True]]

In [5]:
# list multiplication

l1 * 2

[123, 'test', 123, 'test']

In [6]:
# to check something present in list or not

123 in l1

True

In [7]:
11 in l

False

In [9]:
# to retrieve biggest number from list

print(max([1,2,55]))

55

In [11]:
print(min(['a','b','x']))

a

In [14]:
# append function used to append data at the end of the list

l.append('nick')

In [15]:
l

[123, 'test', [1, 2, True], 'nick']

In [16]:
# to insert object anywhere in the list we use insert function

l.insert(2,'data')

In [17]:
l

[123, 'test', 'data', [1, 2, True], 'nick']

In [18]:
# to check how many times a specific elements appeared inside list we use count

l.count('test')

1

In [21]:
# extend function alway try to unwrap the element provided inside function then it insert and it required iterable object

l.extend('test')

In [22]:
l

[123, 'test', 'data', [1, 2, True], 'nick', 'test', 't', 'e', 's', 't']

In [23]:
# index() function will return index value of first element if duplicated elemnts present inside list

l.index('e')

7

In [24]:
# pop() function pop out the last index elemnt from list i.e removed permanently from list

l.pop()

't'

In [25]:
l

[123, 'test', 'data', [1, 2, True], 'nick', 'test', 't', 'e', 's']

In [26]:
# if we want to perform customised pop function means from any other index location we can provide index value inside pop

l.pop(2) # removing element from 2nd index

'data'

In [27]:
l

[123, 'test', [1, 2, True], 'nick', 'test', 't', 'e', 's']

In [28]:
# remove function is used to remove the data based on matching 

l.remove('test')

In [29]:
l

[123, [1, 2, True], 'nick', 'test', 't', 'e', 's']

In [30]:
# to revers the element f list we can use reverse function

l.reverse()

In [31]:
l

['s', 'e', 't', 'test', 'nick', [1, 2, True], 123]

In [34]:
# to order the list we can use sort function but with integer
l = [1,2,5,2,9,0]

l.sort()
l

[0, 1, 2, 2, 5, 9]

In [35]:
# practise question

lt = [1,2,['a','b'],'test',True]

In [44]:
# Question 1

lt.insert(2,['list 1 appended'])
lt.insert(3,['list 3 appended'])
lt.insert(1,(6 + 2j))

In [45]:
lt

[1,
 (6+2j),
 2,
 ['list 1 appended'],
 ['list 3 appended'],
 ['list 1 appended'],
 ['list 3 appended'],
 ['list 1 appended'],
 ['list 3 appended'],
 ['list 1 appended'],
 ['list 3 appended'],
 ['list 1 appended'],
 ['a', 'b'],
 'test',
 True]

In [55]:
# question 3

for i in lt:
    if type(i) == list:
        print(lt[0])
    else:
        print('{} is not list'.format(i))

1 is not list
(6+2j) is not list
2 is not list
1
1
1
1
1
1
1
1
1
1
test is not list
True is not list

#### List comprension
writing multi line code into single line is called comprension

In [1]:
l = [1,2,3,4]
l1 = []

In [2]:
# append data into blank list

for i in "nick":
    l1.append(i)

In [3]:
l1

['n', 'i', 'c', 'k']

In [4]:
# comphrension operation for above code

[i for i in "nick"]

['n', 'i', 'c', 'k']

In [5]:
# creating list of list using comphresion

[[i] for i in "test"]

[['t'], ['e'], ['s'], ['t']]

In [6]:
l = []

for i in range(10):
    if i%2 == 0:
        l.append(i)

In [7]:
l

[0, 2, 4, 6, 8]

In [9]:
#comphersion outcome

[i for i in range(10) if i%2 == 0 ]

[0, 2, 4, 6, 8]

In [17]:
# odd even append

l = []
for i in range(10):
    if i%2 == 0:
        l.append("odd")
    else:
        l.append("even")

In [18]:
l

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [19]:
# list comphrension for above code

["odd" if i%2 == 0 else "even" for i in range(10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [20]:
# nested list

mat = []

for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)

In [21]:
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [23]:
# list comphrension for above code

[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [25]:
[i for i in range(10) if i%2 ==0 if i%3 ==0]

[0, 6]

In [26]:
l = []

for i in range(10):
    if i%2 == 0:
        if i%3==0:
            l.append(i)

In [27]:
l

[0, 6]