### Day 7 -- Python Programming

### Tuples
Tuple is also a collection of homogeneous as well as heterogeneous elements like list

In [2]:
# Empty tuples

t = () # empty tuple
type(t) # checking type of tuple

tuple

In [4]:
# tuple example

t = ('abc',1,True)
t

('abc', 1, True)

In [5]:
# accessin elements of tuple
t[0]

'abc'

In [6]:
# accessing range of values from tuple

t[0:3]

('abc', 1, True)

In [7]:
# reversing the tuple

t[::-1]

(True, 1, 'abc')

In [8]:
# list is mutable whereas tuple is immutable 

t[0] = "xyz" # this is not possible in tuple

TypeError: 'tuple' object does not support item assignment

In [9]:
# creating another tuple

t1 = (1,2,3)

In [10]:
# concatenate operation on tuple

t + t1

('abc', 1, True, 1, 2, 3)

In [11]:
# tuple replication

t * 3

('abc', 1, True, 'abc', 1, True, 'abc', 1, True)

In [12]:
# checking something present inside tuple

'abc' in t

True

In [13]:
99 in t

False

In [14]:
# accessing maximum element of tuple

max(t) # it'll not work as its element is mixed up

TypeError: '>' not supported between instances of 'int' and 'str'

In [15]:
max(t1) # working in case of integer

3

In [16]:
# index function will return index value of 1st occurance of element from tuple

t1.index(3)

2

In [17]:
# creating tuple with duplicate values

t2 = (3,5,2,2,2)
t2.index(2)

2

In [18]:
# accessing minimum elements from tuple

min(t2)

2

In [25]:
# append operation in tuple

l1 = list(t2) # converting tuple to list 
l1.insert(3,'abc') # now append values into list
t2 = tuple(l1) # converting back to tuple
print(t2)
print(type(t2))

(3, 5, 2, 'abc', 'abc', 'abc', 2, 2)
<class 'tuple'>

In [27]:
# creating nested tuple

t1 = ((1,2,3),('abc',True))
t1

((1, 2, 3), ('abc', True))

In [29]:
# accessing nest value from tuple

t1[1][0]

'abc'

In [30]:
# checking two tuple length is same or not

if len(t) == len(t1):
    print('same')
else:
    print('not same')

not same

In [32]:
# checking if element inside tuple after accepting input from user

tup = (1,2,'nick')
inp = input("Enter your name :")

if inp in tup:
    print('exist')
else:
    print("doesn't exist")

Enter your name : nick

exist

In [35]:
# to delete any tuple or list we can use del function

del(t)
t

NameError: name 't' is not defined

### Set
when we want to create unique collection of elements then we can use set

In [36]:
# creating unique set

s = set()
type(s)

set

In [107]:
# list with duplicate values
# indexing operation is not possible into set

lst = [1,2,3,4,4,2,'abc','abc',True,False,False]
s = set(lst)
s

{1, 2, 3, 4, False, 'abc'}

In [52]:
# adding elements to set

s.add(45)
s.add('test')

{45, 'test'}

In [53]:
# removing elements from set

s.remove(45)
s

{'test'}

In [54]:
# to wipe out all elements from sets we use clear function

s.clear()

In [55]:
s

set()

set doesn't allow concatenate '+' and multiplication '*' means duplications operations

### Dictionary
Dictionary is a collection of key value pairs

In [56]:
# creating empty dictionary

d = {}
type(d)

dict

In [59]:
# creating dictionary

d = {'key1':1,'key2':2}
d

{'key1': 1, 'key2': 2}

In [71]:
# dictionary key will always be unique however in case of value dictionay will allow duplications.
# dictionary can contain set,tuple as well as dictionay inside it as value in case of ket list,special character are not
# allowed.

x ={'name':'Nick','age':27,'name':'test'}
x

{'name': 'test', 'age': 27}

In [63]:
x = {'name':{'k1':1,'k2':2}}
x

{'name': {'k1': 1, 'k2': 2}}

In [66]:
# accessing distionay elements using keys

x['name']['k2']

2

In [67]:
# assignment inside dict

x['name']['k2'] = [1,2,3,4,5]

In [68]:
x

{'name': {'k1': 1, 'k2': [1, 2, 3, 4, 5]}}

In [69]:
# dictionay is mutable collections

In [72]:
# access all keys from dictionary

x.keys()

dict_keys(['name', 'age'])

In [75]:
# access items from dictionay i.e keys and values

x.items()

dict_items([('name', 'test'), ('age', 27)])

In [76]:
# to access all values from dictionary

for i in x:
    print(x[i])

test
27

In [77]:
# length of dictionary

len(x)

2

# problem statement

<br> Question 0 : Take input as a paragraph by using input function.
<br> Question 1 : convert all inputs to list?
<br> Question 2 : Remove all duplicates elements?
<br> Question 3 : Use above distinct elemet as a key for dictionay and assign a name as as a value to all keys.
<br> Question 4 : Try to print tuple of all the values.
<br> Question 5 : Try to print list of all the keys.

In [94]:
# Question 0:

inp = input("Enter paragraph : ")

# Question 1:

lst = inp.split(" ")

# Question 2:

s = set(lst)

# Question 3:

dct = dict.fromkeys(s,'nick')

# Question 4:

t1 = tuple(dct.values())

# Question 5:

l1 = list(dct.keys())

Enter paragraph :  # Question 0:

In [95]:
my_dict = {}

for i in range(10):
    my_dict[i] = i*i

In [96]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
# dictionary comprehension 

{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}